---
---

@charset "utf-8";

html {
  padding: 0;
  margin: 0;
}

body {
  --box-width: 40rem;
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
  &.in-a-box {
    max-width: var(--box-width);
    margin: 0 auto;
  }
}

code {
  font-size: 0.8rem;
  font-family: monospace;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  padding: 0 4px;
  border-radius: 4px;
  white-space: nowrap;
}

p {
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  td,
  th {
    border: 1px solid lightgray;
    padding: 0.25rem 1rem;
    margin: 0;
    &:nth-child(1) {
      white-space: nowrap;
    }
    &:nth-child(2) {
      font-size: 0.8rem;
    }
  }
  th {
    font-size: 0.8rem;
    text-align: left;
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid lightgray;
  margin: 2rem 0;
}

.react-clock-component {
  min-width: 250px;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  border: 4px double gray;
  margin-bottom: 1rem;
  h2,
  h3 {
    margin: 0;
  }
}

.revealed-comment,
.comment-nodes {
  color: darkslategrey;
  font-family: 'Courier New', Courier, monospace;
  border: 1px dotted #236e25;
  padding: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: auto;
  background-color: honeydew;
  transition: opacity 500ms ease;
  opacity: 0;
  &.fly {
    opacity: 1;
  }
}

.comment-nodes {
  position: relative;
  margin-bottom: 1rem;
  &::after {
    content: "~ comments wrapper ~";
    text-align: center;
    display: block;
  }
}

nav {
  border: 1px dashed lavender;
  background-color: ghostwhite;
  padding: 0.5rem 1rem;
  display: flex;
  margin-bottom: 1rem;
  > a {
    align-self: center;
    flex-grow: 1;
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
    border-radius: 2px;
    color: indigo;
    transition: background-color 200ms ease-in;
    &.n-home {
      padding: 0.75rem;
    }
    &:hover,
    &.active {
      background-color: lavender;
    }
  }
  &.wrapped {
    flex-wrap: wrap;
    > a {
      flex-basis: 20%;
    }
  }
  &.page-nav {
    border: 1px dashed gainsboro;
    background-color: whitesmoke;
    > a {
      padding: 0.25rem;
      margin: 0.25rem;
      color: black;
      &:hover,
      &.active {
        background-color: gainsboro;
      }
    }    
  }
}