---
---

@charset "utf-8";

html {
  padding: 0;
  margin: 0;
}

body {
  --box-width: 40rem;
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
  &.in-a-box {
    max-width: var(--box-width);
    margin: 0 auto;
  }
}

nav {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 1px dashed lightgray;
  background-color: ghostwhite;
  > a {
    padding: 0.25rem 1rem;
    &:hover {
      background-color: lavender;
    }
  }
}

code {
  font-size: 0.8rem;
  font-family: monospace;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  padding: 0 4px;
  border-radius: 4px;
  white-space: nowrap;
}

p {
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  td {
    border: 1px solid lightgray;
    padding: 0.25rem 1rem;
    margin: 0;
    &:nth-child(1) {
      white-space: nowrap;
    }
    &:nth-child(2) {
      font-size: 0.8rem;
    }
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid lightgray;
}